extends page/_page-layout.pug

block prepend variables
  - const currentPage = PAGES["albums"].pageHref;
  - const pageTitle = "Альбомы Deep Forest";

mixin albumArticle(albumData)
  article.albums__album.album !{albumData.albumMarkup}
    .album__cover
      +picturePngWebp2x({filename: `album-${albumData.name}`, altText: `Обложка ${albumData.title}.`, width: 239, lazy: "lazy" })
      if (albumData.yandexID)
        .album__linkbox
          a.album__link(href= `https://music.yandex.ru/album/${albumData.yandexID}`, target="_blank", rel="noopener", title=`альбом "${albumData.title}" на Яндекс музыке`)
            span.visuallyhidden= `https://music.yandex.ru/album/${albumData.yandexID}`

block main
  main.main
    section.albums
      .wrapper--ext
        h1.albums__heading Альбомы
        each item in albumsList
          +albumArticle(item)
