extends page/_page-layout.pug

block prepend variables
  - const currentPage = PAGES["albums"].pageHref;
  - const pageTitle = "Альбомы Deep Forest";
  - const pageDescription = "Альбомы группы Deep Forest, синглы, ремиксы, концертные записи и другие";

mixin albumArticle(albumData, cssClass)
  article.albums__album.album(class=cssClass) !{albumData.markup}
    .album__cover
      +picturePngWebp2x({filename: `${albumData.name}`, altText: `Обложка ${albumData.title}.`, width: 239, lazy: "lazy" })
      if (albumData.yandexID)
        .album__linkbox
          a.album__link(href= `https://music.yandex.ru/album/${albumData.yandexID}`, target="_blank", rel="noopener", title="Слушать на Яндекс музыке")
            span.visuallyhidden= `слушать на Яндекс музыке — "${albumData.title}"`

block main
  main.main.albums-main
    section.albums-section.albums.accordion-box#albums
      .wrapper
        h1.albums__heading.albums-heading.accordion-btnbox
          button.button.albums-heading__button.accordion-button(type="button") Альбомы
      .wrapper--ext.albums__container.accordion-content
          each item in albumsList
            +albumArticle(item)
    section.albums-section.singlesmixes.accordion-box#singlesmixes
      .wrapper
        h1.singlesmixes__heading.albums-heading.accordion-btnbox
          button.button.albums-heading__button.accordion-button(type="button")
            span.albums-heading--m Синглы и ремиксы
            span.albums-heading--d Cинглы, ремиксы, концертные записи
      .wrapper--ext.albums__container.accordion-content
          each item in singlesnMixesList
            +albumArticle(item, "album--short")
    section.albums-section.etcalbums.accordion-box#etcalbums
      .wrapper
        h1.etcalbums__heading.albums-heading.accordion-btnbox
          button.button.albums-heading__button.accordion-button(type="button") Другие альбомы
      .wrapper--ext.albums__container.accordion-content
          each item in etcAlbumsList
            +albumArticle(item, `${item.cssClassMod ? `album${item.cssClassMod}` : `album--short` }`)
