extends page/_page-layout.pug

block prepend variables
  - const currentPage = PAGES["albums"].pageHref;
  - const pageTitle = "Альбомы Deep Forest";

mixin albumArticle(albumData, cssClass)
  article.albums__album.album(class=cssClass) !{albumData.markup}
    .album__cover
      +picturePngWebp2x({filename: `${albumData.name}`, altText: `Обложка ${albumData.title}.`, width: 239, lazy: "lazy" })
      if (albumData.yandexID)
        .album__linkbox
          a.album__link(href= `https://music.yandex.ru/album/${albumData.yandexID}`, target="_blank", rel="noopener", title="Слушать на Яндекс музыке")
            span.visuallyhidden= `слушать на Яндекс музыке — "${albumData.title}"`

block main
  main.main
    #albums
      section.albums
        .wrapper--ext.albums__container
          h1.albums__heading Альбомы
          each item in albumsList
            +albumArticle(item)
    #singlesmixes
      section.singlesmixes
        .wrapper--ext.albums__container
          h1.singlesmixes__heading Синглы, ремиксы, концертные записи
          each item in singlesnMixesList
            +albumArticle(item, "album--short")
    #etcalbums
      section.etcalbums
        .wrapper--ext.albums__container
          h1.etcalbums__heading Альбомы, косвенно относящиеся к группе
          each item in etcAlbumsList
            +albumArticle(item, `${item.cssClassMod ? `album${item.cssClassMod}` : `album--short` }`)
