-
  let mainNav = [
    PAGES.albums,
    PAGES.lyrics,
    PAGES.index,
    PAGES.video,
  ];

mixin logoLinkHeader(link)
  if (link)
    a.header__logo(href= link)
      if block
        block
  else
    .header__logo
      if block
        block

mixin siteNavItem({ name, pageHref, anchor }, mode, index)
  li(class= `header__nav-item ${ pageHref === currentPage ? "header__nav-item--current" : ""}`)
    if ((pageHref) && (pageHref !== currentPage))
      a(href= `${pageHref}.html${anchor ? `#${anchor}` : ``}`)
        span= name
    else
      span(tabindex="0")= name

header.header
  .header__slider
    .header__slide
      +pictureAdaptiveJpgWebpShort({filename: "slide-1", altText: "фоновое изображение"})
  .wrapper--ext
    //- слайдер
    nav.header__nav
      .header__logo-block
        +logoLinkHeader(logoHref)
          span.visuallyhidden Логотип Deep Forest.
      ul.header__nav-menu
        each item in mainNav
          +siteNavItem(item)
        li.header__nav-item
          a(href=PAGES.search.pageHref + ".html") 
            svg.header__nav-icon(width="16", height="16", role="img", aria-label="Поиск.", focusable="false")
              use(href="./img/sprite.svg#search")
    .header__big-logo
