-
  let footerNav = [
    PAGES.albums,
    PAGES.lyrics,
    PAGES.singles,
    PAGES.index,
    PAGES.albumsOther,
    PAGES.video,
  ];

mixin logoLinkFooter(link)
  if (link)
    a.footer__logo(href= link)
      if block
        block
  else
    .footer__logo
      if block
        block

mixin footerNavItem({ name, pageHref, anchor, isAlwaysActive, secondary })
  li(class= `footer__nav-item${ pageHref === currentPage ? " footer__nav-item--current" : ""}${ secondary ? " footer__nav-item--secondary" : ""}`)
    if (((pageHref) && (pageHref !== currentPage)) || (isAlwaysActive))
      a.footer__nav-link(href= `${pageHref}.html${anchor ? `#${anchor}` : ``}`)
        span= name
    else
      span(tabindex="0")= name

mixin socialLinkItem({ name, lClass, href, iconSize })
  li
    a.socials__link(href= ( href ? href : "#" ), target="_blank", rel="noopener", onclick = ( href ? null : "return false" ))
      svg.footer__social-icon(width=`${iconSize[0]}`, height=`${iconSize[1]}`, role="img", aria-label=`${name}`, focusable="false")
        use(href=`./img/sprite.svg#${lClass}`)

footer.footer
  .wrapper
    .footer__links
      .footer__logo-block
        +logoLinkFooter(logoHref)
          span.visuallyhidden Логотип Deep Forest.
      ul.footer__socials.socials__list 
        each item in SOCIAL_LINKS
          +socialLinkItem(item)
    ul.footer__nav
      each item in footerNav
        +footerNavItem(item)
    .footer__copyrights !{copyrightsData}
